__pycache__/

eye-data-sept2025/
eye-data-sept2025.zip

roughbooks/

*.csv
*_metrics_*/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject
